parameters:
	level: max
	paths:
		- ../../src
	excludePaths:
	    - ../../src/DataFixtures/*
#	ignoreErrors:
#	    -
#	        message: '#\$id is never written, only read#'
#	        path: src/Entity/*.php